@font-face {
    font-family: "WantedSans-Medium";
    font-weight: normal;
    src: url("./Fonts/WantedSans-Medium.otf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: inherit;
    text-decoration: none;
    list-style: none;
    font-family: "WantedSans-Medium";
}